<h1>Listing applications
    <span class='actions'>
      <%= link_to t('general.new'), new_application_path, :id => 'new_app_link' %>
    </span>
</h1>

<p>
<table id="applications_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Script</th>
    <th>Repository</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @applications.each do |application| %>
    <%= render application %>
  <% end %>
  </tbody>
</table>
</p>
