<tr id="app_deployment_<%= app_deployment.id%>">
  <td><%= link_to app_deployment.version, app_deployment %></td>
  <td><%= link_to app_deployment.deployment_file_name, app_deployment.deployment.url %></td>
  <td>
    <%= link_to t('general.delete'), [@application, app_deployment], :confirm => t('general.are_you_sure'),
                :method => :delete, :remote => true %>
  </td>
<tr>