<h1><%= t('general.editing') + ' ' + t('application.environment') %></h1>

<%= render 'form' %>

<%= link_to t('general.show'), @environment %> |
<%= link_to t('general.edit'), @environment.application %>
